.icon-48-papers {
      background-image: url(../images/l_papers.png);
      padding-left:60px!important;
}

.icon-48-paper {
      background-image: url(../images/l_papers.png);
      padding-left:60px!important;
}

